# We do keep the solution and projects in the repository though.
SDL
STB
MRuby
PCG

src/assets.h
build/

*.swp
*.lnk
.byebug_history
.DS_Store
*.core

mac/Crattlecrute/Crattlecrute.xcodeproj/xcuserdata/
mac/Crattlecrute/Crattlecrute.xcodeproj/project.xcworkspace/xcuserdata/
